<ion-view view-title="{{ player.name }}">

  <ion-content class="padding">

    <div class="list">
      <form novalidate ng-submit="updatePlayer(player)">
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" ng-model="player.name">
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Assigned Template -
          </div>
          <select ng-model="player.template_id" ng-change="selectTemplate(player)">
            <option value="">None</option>
            <option ng-repeat="template in templates | orderBy:'name'" ng-selected="template._id==player.template_id" value="{{ template._id}}">{{ template.name }}</option>
          </select>
        </label>
        <label class="item item-input">
          <span class="input-label">dp23.com:8081/player/slide/{{ player.playerid }}/{{ player.modelid}}</span>
        </label>
        <div class="padding">
          <button type="submit" class="button button-block button-positive activated">
            Update
          </button>
        </div>
      </form>

    </div>
  </ion-content>


</ion-view>
